
.App {
  display: flex;
  text-align: center;
  justify-content: center;
   
}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  transition: all 0,3s ease-in;
}

.main-body {
    margin: 30px;
    width: 500px;
    height: 500px;  
    background-color: #518671;
    border-radius: 20px;
    padding: 25px;
}

.form-input {
  text-align: start;
  width: 300px;
  height: 33px;
}

.number-form {
  width: 300px;
  height: 23px;
}

.btn {
  width: 120px;
  height: 30px;
  background-color: aqua;
}

